.venv/
__pycache__/
*.pyc
.DS_Store
.env

energy_data_project/data/raw/
energy_data_project/data/bronze/
energy_data_project/data/silver/
energy_data_project/data/gold/
energy_data_project/data/audit/

*.parquet